<!DOCTYPE html>
{%load static%}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'App/home.css'%}">
    <title>Mobilenet Demo</title>
  </head>

  {% if flag == 1 %}
  <body >
  {% elif flag == 0 %}
    <body onload="loadImage()">
  {% endif %}
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="{% static 'App/icon.png'%}" width="100" height="100" alt="icon" >
    </a>
  </nav>

  <div class="container">
    <div class="image-box">
        <img id="output" src="">
    </div>

    <div class="action-container">
      <div class="output">
        <h2>Prediciton : </h2>
        <h2 id="prediction" style="color:Tomato;">{{prediction}}</h2>
      </div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <input name="document" type="file" accept="image/*" onchange="loadFile(event)">
        <button type="submit" >Predict</button>
      </form>
    </div>

  </div>
  </body>
</html>
<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    var filename = event.target.files[0]
    output.src = URL.createObjectURL(event.target.files[0]);
    localStorage.setItem("imageLink", output.src)
    document.getElementById('prediction').innerHTML = ''

  };
  var loadImage = function() {
    url = localStorage.getItem("imageLink")
    var output = document.getElementById('output');
    output.src = url
  };
</script>